@font-face {
    font-family: "Norse Bold";
    src: url("./fonts/norse-bold.otf");
}

body {
    margin: 0;
    display: flex;
}

#image-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#leaves {
    width: 40vw;
    height: 100vh;
    object-fit: cover;
}

#odin-banner {
    background-color: #00000099;
    width: 40vw;
    height: 20%;
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#odin-lined {
    height: 80%;
}

#odin-text {
    font-family: "Norse Bold", sans-serif;
    font-size: 15vh;
    color: whitesmoke
}

#credit {
    position: absolute;
    color: whitesmoke;
}

#credit a {
    color: lightgray;
}