@font-face {
    font-family: "Norse Bold";
    src: url("./fonts/norse-bold.otf");
}

body {
    margin: 0;
    display: flex;
}

#image-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#leaves {
    width: 40vw;
    height: 100vh;
    object-fit: cover;
}

#odin-banner {
    background-color: #00000099;
    width: 40vw;
    height: 20%;
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#odin-lined {
    height: 80%;
}

#odin-text {
    font-family: "Norse Bold", serif;
    font-size: 15vh;
    color: whitesmoke
}

#credit {
    position: absolute;
    color: whitesmoke;
}

#credit a {
    color: lightgray;
}

#form-section {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
}

#form-section p {
    margin-left: 20px;
    max-width: 600px;
}

#create-account {
    background-color: white;
    padding: 5%;
    box-shadow: 0 5px 15px grey;
    display: flex;
    flex-direction: column;
}

#create-account span {
    font-size: 20px;
    margin-top: -3%;
}

#form-inputs {
    display: flex;
}

#form-inputs div {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

#form-inputs div label {
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 10px;
}

#form-inputs div input {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}

#form-inputs div input:invalid {
    border-color: red;
}

#form-inputs div input:focus {
    outline: none;
    border-color: skyblue;
    box-shadow: 2px 2px 5px gray;
}

#create-account-btn {
    background-color: #596D48;
    color: whitesmoke;
    margin: 20px 20px 0;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    width: 160px;
    box-shadow: 2px 2px 5px gray;
}